@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import "tailwindcss";
@reference "tailwindcss";

@font-face {
  font-family: "AutoNumber_Regular";
  src: url("/fonts/AutoNumber_Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-sans: "Rubik", sans-serif;
  --font-auto-number: "AutoNumber_Regular", "Rubik", sans-serif;
}

@utility font-auto-number {
  font-family: var(--font-auto-number);
}

html {
  color-scheme: dark;
}

html.dark {
  color-scheme: dark;
}

body {
  @apply bg-[#0b0b0c] antialiased font-sans overflow-x-hidden;
}
a {
  cursor: pointer;
}

input:focus {
  outline: none !important;
  box-shadow: none !important;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}

button::-moz-focus-inner {
  border: 0;

  cursor: pointer;
}

.no-scrollbar::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.no-scrollbar {
  -ms-overflow-style: none;
}
